.p-inputtext {
    &.task-name-input {
        display: flex;
        flex: 1;
    }
}

.p-dialog-content {
    padding-bottom: 0;

    .p-dialog-footer {
        padding: 16px 0;

        .p-element {
            margin-right: 0;
        }

        .p-button-secondary {
            margin-right: 16px;
        }
    }
}