<div class="container">
    <input 
    class="input-container" 
    type="text" 
    pInputText 
    pTooltip="Search Tasks" 
    tooltipPosition="top"
    showDelay="1000" 
    hideDelay="300"
    [(ngModel)]="searchText" 
    placeholder="Search" 
    (input)= "onSearch()">

    <div class="card flex justify-content-center">
        <p-dropdown 
            [options]="priorityFilterOptions" 
            [(ngModel)]="priority" 
            placeholder="Priority"
            (onChange)= "onPriorityChange()"
            [showClear]="true">
        </p-dropdown>
    </div>
</div>