.container {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.p-dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 16px;
    position: sticky;
    bottom: 0;
}

.error-message {
    margin-top: -16px;
    font-size: small;
    color: #dc3545;
}

.p-button-secondary {
    margin-top: 16px;
    margin-right: 24px;
  }
  
.p-button-primary {
    margin-top: 16px;
  }
